*{
    margin : 0px;
    padding :  0px;
}
 

#bg{
    z-index: -100;
    position: fixed;
    object-fit: cover;
    left: 0px;
    top : 0px;
    height: 100%;
    min-width: 100%;
}

#nav-container{
    list-style-type: none;
    background-color: rgba(150,150,150,0.4);

    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    font-weight: bold;
 
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: space-evenly;
    align-items: center;
}

#nav-container li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
 
}

#nav-container li:hover{
    background-color: rgba(255, 191, 166, 0.527);
    border-bottom: 5px solid rgb(255, 191, 166);
    width: 100%;
    text-align: center;
}

#nav-container a{
    text-decoration: none;
    color : white;
    padding: 5%;
}

#home-main-container{
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;

    margin: 100px;    
}

#hotel-name{
    font-size: 9vw;
    font-weight: bold;
    font-style: italic;
    font-family: "lato", sans-serif;
    letter-spacing: 5px;

    color : whitesmoke;
    text-shadow: 10px 10px rgba(185, 139, 118, 0.603);
}

.book-button{
    width: 20%;

    font-size: 2vw;
    padding: 20px;
    margin-top: 20px;

    background: rgba(255, 38, 0, 0.774);
    border-radius: 15px;
    border-style: none;

    border-right: 10px solid rgb(209, 43, 1);
    border-bottom: 10px solid rgb(126, 25, 0);


    font-weight: bold;
    font-style: italic;
    font-family: "lato", sans-serif;

    letter-spacing: 3px;

    color : rgb(255, 255, 255);
}

.book-button:active{
    background: rgba(207, 0, 0, 0.507);
}
 

#rooms-main-container{
    width: 80%;
    padding: 20px;
    margin-top: 20px;
    margin-left: 10%;

    background-color: rgba(255, 255, 255, 0.541);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.rooms-inner-container{
    width: 100%;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.rooms-inner-container img{
    height: 100%;
    width: 300px;
}

.rooms-inner-container h2,p{
    font-family: "lato", sans-serif;
    margin: 10px;
}


.rooms-info-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.rooms-info-inner{
    display: flex;
    width: inherit;
    padding: 20px;
    justify-content: space-between;
}
 

.rooms-info-inner button{
    background: rgba(109, 168, 97, 0.863);
    height: 50px;
    width: 40%;

    font-family: "lato", sans-serif;
    font-size: 1.25rem;
    color : white;

    align-self: center;
}
 