*{
    margin : 0px;
    padding :  0px;
}


#bg{
    z-index: -100;
    position: fixed;
    object-fit: cover;
    left: 0px;
    top : 0px;
    height: 100%;
    min-width: 100%;
}
 

#nav-container{
    
    list-style-type: none;
    background-color: rgba(150,150,150,0.4);

    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    font-weight: bold;
 
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: space-evenly;
    align-items: center;
}

#nav-container li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
 
}

#nav-container li:hover{
    background-color: rgba(255, 191, 166, 0.527);
    border-bottom: 5px solid rgb(255, 191, 166);
    width: 100%;
    text-align: center;
}

.nav-menu{
    text-decoration: none;
    color : white;
 
}

#home-main-container{
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;

    margin: 100px;    
}

#hotel-name{
    font-size: 10rem;
    font-weight: bold;
    font-style: italic;
    font-family: "lato", sans-serif;
    letter-spacing: 5px;

    color : whitesmoke;
    text-shadow: 8px 8px rgba(185, 139, 118, 0.603);
}

.book-button{
    width: 20%;

    font-size: 2rem;
    padding: 20px;
    margin-top: 20px;

    background: rgba(230, 66, 16, 0.747);
    border-radius: 15px;
    border-style: none;

    border-right: 10px solid rgba(201, 58, 22, 0.61);
    border-bottom: 10px solid rgba(146, 38, 11, 0.61);


    font-weight: bold;
    font-style: italic;
    font-family: "lato", sans-serif;

    letter-spacing: 3px;

    color : rgb(255, 255, 255);
}

.book-button:active{
    background: rgba(151, 3, 3, 0.678);
     
}
 
.rooms-book-button{
    display: block;
    margin: 30px auto;   
    
}


#rooms-main-container{
    padding: 20px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.rooms-inner-container{
    font-family: "lato", sans-serif;

    font-size: 1.2rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    background:rgb(255, 255, 255);
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    
    width: 25%;
    padding: 20px;
    margin: 20px 10px;
}

.rooms-inner-container > *{
    margin-bottom: 10px;
    
}

.rooms-inner-container hr{
    width: 100%; 
}

.rooms-inner-container img{
    width: 100%;
}

.rooms-inner-container h2{
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}



@media (max-width : 1280px)
{
    #rooms-main-container{
        padding: 0px;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .rooms-inner-container{
        width: 40%;
    }

    #hotel-name{
        font-size: 5.5rem;
        text-align: center;
    }

    .book-button{
        width: 300px;
    }
}

@media (max-width : 768px)
{
    #nav-container {
        flex-direction: column;
        width: 100%;
        height: 200px;
    }

    #nav-container li{
        padding: 0px;
        margin: 0px;
        font-size: 2rem;
    }

 

    #home-main-container{
        width: 100%;
        height: 50vh;
        margin: 0px;
        padding: 0px;
        justify-content: center;
        align-items: center;
    }

    #rooms-main-container{
        padding: 0px;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .rooms-inner-container{
        width: 100%;
       font-size: 1rem;
    }

    .rooms-inner-container h2{
        font-size: 2rem;
    }

    #hotel-name{
        text-align: center;
        font-size: 4rem;
        margin: 30px 0;
        margin: 10px;
    }

    .book-button{
        width: 80%;
        height: 50px;
        font-size: 1.35rem;
        padding: 0px;
        background :rgba(221, 44, 20, 0.651);
        border: none;
    }
}




/* 
HTML + CSS (10 puncte) - termen saptamana 5 (17-18 martie)
    x fisiere separate de HTML si CSS (0.5 puncte)
    x folosirea cu sens a cel putin 4 tag-uri semantice (2 puncte)
    x aplicarea stilului folosind clase si id-uri pe cat mai multe elemente din pagina (0.5)
    x layout pe coloane folosind flexbox si/sau grid (2 puncte)
    x sa aveti cel putin 2 pagini legate intre ele prin ancora (1 punct)
    - site-ul sa fie responsive pentru urmatoarele dimenstiuni: latime mai mica de 768px, latime intre 768px si 1280px, latime mai mare de 1280px (4 puncte)
*/