

#book-main-container{
    margin-top: 150px;
}
 
#book-main-container > form{
    width: 60%;
    padding: 30px;  
    margin-left: auto;
    margin-right: auto;
    background:rgba(80, 60, 60, 0.664);
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#no-results-container{
    width: 60%;
    padding: 30px;
    margin: 20px auto;
    color: white;
    font-family: 'lato', sans-serif;
    background:rgba(80, 60, 60, 0.664);
}

.input-container{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

#check-in, #check-out,#guests{
    padding-left: 10px;
    height: 30px;
    border: none;
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
    text-align: center;
    user-select: none;
}
 
.form-label{
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-style: italic;
}

#form-button{
    height: 70px;
    width: 200px;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    color: whitesmoke;
    background: rgba(145, 21, 21, 0.877);
    border-left: none;
    border-top: none;
    border-right: 5px solid rgba(168, 31, 31, 0.877);
    border-bottom: 5px solid rgba(94, 16, 16, 0.877);
    
}

#book-results-container{
    margin-top: 40px;
    margin-bottom: 40px;
}

.book-results-inner{
    color: whitesmoke;
    font-family: "Lato", sans-serif;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    padding: 15px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    background:rgba(56, 43, 43, 0.842);
    box-shadow: 5px 5px 10px black;
}
 
#book-results-container figure{
    height: 100%;
    width: 30%;
}

#book-results-container img{
    width: 100%;
    height: 200px;
    border: 5px solid rgb(180, 180, 180);
    object-fit: cover;
}

#book-results-container figcaption{
    font-size: 2rem;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    margin-top: 10px;
    text-shadow: 3px 3px 3px black;
}

.book-details{
    width: 30%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
    text-shadow: 5px 5px 3px black;
    font-size: 1.3rem;
}

.order-room-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(158, 31, 29, 0.938);
    border-bottom: 5px solid rgba(73, 7, 5, 0.562);
    border-right: 5px solid rgba(167, 61, 57, 0.774);
    width: 25%;
    height: 80px;
    
    font-size: 1.1rem;
    font-weight: bold;
}

#cancel-container{
    width: 60%;
    /* height: 50px; */
    margin-left: auto;
    margin-right: auto;
    padding: 5px 30px;
    margin-bottom: 20px;

    font-family: 'lato', sans-serif;
    color: white;
    background:rgba(53, 45, 45, 0.87);
}

#cancel-container > *{
    margin: 5px 10px;
}

#cancel-button{
    border: none;
    height: 30px;
    padding: 5px;
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
}

#cancel-button:hover{
    cursor:pointer;
}

@media (max-width : 1280px)
{
    #book-main-container > form{
        width: 80%;
    }

    .input-container{
        font-size: 1rem;
    }

    #form-button{
        font-size: 1.2rem;
    }

    .book-results-inner{    
        width: 80%;
    }

    #book-results-container img{
        width: 100%;
        height: 50%;
    }

    .order-room-button{
        font-size: 1rem;
    }

    #cancel-container{
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width : 768px)
{
    #book-main-container > form{
        flex-wrap: wrap;
    }

    #book-main-container{
        margin-top: 50px;
    }
    
    .form-label{
        font-size: 1rem;
    }

    .input-container{
        font-size: 1rem;
        margin: 0;
    }

    #check-in, #check-out, #guests{
        font-size: 1rem;
    }

    #form-button{
        margin-top: 20px;
        width: 85%;
        height: 50px;
    }

    .book-results-inner{
        flex-direction: column;
        width: 80%;
    }

    #book-results-container img{
        width: 100%;
        height: 400px;
    }

    #book-results-container figure{
        height: 100%;
        width: 100%;
        margin: 0;
    }
 
    .book-details{
        width: 80%;
        padding: 20px 10px;
        line-height: 40px;
    }

    .order-room-button{
        width: 100%;
        border-radius: 10px;
        border: none;
    }

    #cancel-container{
        width: 80%;
        
    }
}


.hide{
    display: none;
}