#gallery-inner-container{
    display: flex;
    flex-direction: column;
}

#gallery-slideshow-container{
    display: flex;
    width: 70vw;
    height: 70vh;
    
    margin: 40px auto 20px;
}

#gallery-slideshow-inner-container{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#gallery-img-container{
    display: flex;
    width: 100%;
    height: 100%;
}
 
.gallery-img{
    flex-shrink: 0;
    object-fit: cover;  
    height: 100%; 
    width: 100%;
}
 
.gallery-arrow{
    width: 60px;
    height: 70vh;
    border: none;
    z-index: 10;
    background-color: rgb(24, 15, 15);
    outline: none;
    color: white;
    
    font-weight: bolder;
    font-size: 60px;
}

#gallery-buttons-container{
    width: 60vw;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.gallery-circle{
    box-shadow: 3px 3px 2px black;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: rgb(107, 45, 26);
    border-radius: 100%;
    margin: 0px 10px;
}

.gallery-circle-active{
    background-color: rgb(250, 92, 18);
}

@media (max-width: 1280px) {
    #gallery-slideshow-container{
        width: 60vw;
    }
}

@media (max-width : 768px) {
    #gallery-slideshow-container{
        width: 90vw;
    }

    .gallery-arrow{
        width: 7vw;
        font-size: 20px;
        position: relative;
    }

    .gallery-circle{
        width: 20px;
        height: 20px;
    }
}