*{
    margin : 0px;
    padding :  0px;
}
 
body{
    background-image: url("../img/view.png");
    background-size: cover;
    background-attachment: fixed;
}

.page-container{
    min-height: calc(100vh - 100px);
    padding-bottom: 100px;
    position: relative;
}

.page-content-container{
    width: 100%;
}
 

#nav-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 80px;

    list-style-type: none;
    background-color: rgba(150,150,150,0.4);

    font-family: 'Dancing Script', cursive;
    font-size: 2.3rem;
    font-weight: bold;
}

#nav-container li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#nav-container li:hover{
    background-color: rgba(255, 191, 166, 0.527);
    border-bottom: 5px solid rgb(255, 191, 166);
    transition: border 150ms ease 0s;
    text-align: center;
}

.nav-menu{
    text-decoration: none;
    color : white;
}
.current-menu{
    background-color: rgba(255, 191, 166, 0.527);
}

.button:hover{
    cursor:pointer;
}

#footer-container{
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 100px;
    background:rgba(46, 34, 28, 0.945);
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}

#footer-container > *{
    margin: 0px 20px;
    align-self: center;
}

#footer-container h2{
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
}

#footer-contact-info{
    font-size: 0.8rem;
    line-height: 21px;
    font-family: 'Lato', sans-serif;
}

@media (max-width : 768px)
{
    #nav-container{
        flex-direction: column;
        height: auto;    
        font-size: 2rem;
    }

    #nav-container li{
        height: auto;
        padding: 10px 0px;
    }

    #nav-container li:hover{
        border: none;
    }

    #footer-container h2{
        font-size: 1.5rem;
    }

    #footer-contact-info{
        font-size: 0.6rem;
    }
}
